.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgb(58, 48, 82);
  background-image: url(../../assets/images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 6rem;
  padding-inline: 1.5rem;
}

.headingSecondary {
  font-size: 1.78rem;
  font-weight: 700;
  color: white;
  letter-spacing: -1px;
  text-align: center;
}

.cta .btnCta {
  font-size: 1.25rem;

  padding: 1rem 2.5rem;
  margin-top: 1.5rem;
  margin-left: 0;
}

/* screen width <= 320px */
@media screen and (max-width: 20em) {
  .headingSecondary {
    font-size: 1.4rem;
  }
}

/* 768px <= screen width */
@media screen and (min-width: 48em) {
  .cta {
    background-image: url(../../assets/images/bg-boost-desktop.svg);
    padding-block: 3.3rem;
  }

  .headingSecondary {
    font-size: 2rem;
  }
}

/* 1024px <= screen width */
@media screen and (min-width: 64em) {
  .headingSecondary {
    font-size: 2.5rem;
  }
}
