.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  list-style: none;
}

.navListItem {
  line-height: 2.2;
}

.navLink {
  text-decoration: none;
  color: var(--color-gray-1);
  text-transform: capitalize;
  cursor: pointer;
}

/* DESKTOP VERSION from 48em (768px) */
@media screen and (min-width: 48em) {
  .navList {
    align-items: start;
  }

  .navListItem {
    text-align: left;
  }
}
