.footerNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  margin-top: 2.5rem;
}

.footerNavItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footerNavTitle {
  color: var(--color-white);
  font-weight: 600;
}
