.features__card-container {
	padding: 80px 0 90px 0;
}

.feature__cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 25px;
	align-items: flex-start;
}

@media only screen and (max-width: 1024px) {
	.feature__cards {
		margin: 2rem;
	}
}

/* IS THIS ADDED? */
@media only screen and (max-width: 764px) {
	.features__card-container {
		padding: 50px 0;
	}
}

@media only screen and (max-width: 680px) {
	.feature__cards {
		gap: 65px;
	}

	.features__card-container {
		padding: 50px 0;
	}
}
