:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 1.125rem; /* 18px */
  font-weight: 400;

  --color-primary-cyan: hsl(180, 66%, 49%);
  --color-primary-dark-violet: hsl(257, 27%, 26%);
  --color-secondary-red: hsl(0, 87%, 67%);

  --color-gray-1: hsl(0, 0%, 75%);
  --color-gray-2: hsl(257, 7%, 63%);
  --color-gray-3: hsl(255, 11%, 22%);
  --color-gray-4: hsl(260, 8%, 14%);

  --color-white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
